---
import Footer from "@components/Footer.astro";
import Grid from "@components/Grid.astro";
import Header from "@components/Header.astro";
import Layout from "@layouts/Layout.astro";
import Copy from "@pages/__copy__.mdx";
import { slugifyStr } from "@utils/slugify";

const tempHeroImage =
  "https://www.silverwaterresort.com.au/hs-fs/hubfs/sunset-off-deck-main.jpg?width=1920&height=1280&name=sunset-off-deck-main.jpg";

const tempLocationImage = `/cover.webp`;
---

<Layout>
  <Header slot="header" />
  <main id="main-content" class="enter-fade-vertical">
    <section>
      <div
        id="hero"
        style=`background-image: linear-gradient(to right, #161616aa 120px, #24292e00 960px), url(${tempLocationImage})`
      >
        <div
          class="mb-24 flex w-full max-w-64 flex-col items-start gap-2 md:max-w-max md:flex-row md:items-center md:gap-4"
        >
          <img src=`/logo-wide.svg` class="h-3" />
          <span class="text-sm font-medium leading-tight text-white"
            >Optimisation and planning summer school 2025</span
          >
        </div>
        <div class="flex-1"></div>
        <div
          class="flex max-w-[640px] flex-col items-start justify-between gap-4 md:flex-row"
        >
          <div>
            <h1 class="text-white">
              Learn cutting-edge optimisation and planning
            </h1>
            <p class="animation-delay-[300ms] text-white" id="tagline">
              Unlock the potential of planning and optimisation with us on 3-7th
              November in Melbourne, Australia
            </p>
          </div>
        </div>

        <a href="https://forms.gle/zpsGRP7UGZDazbYz9">
          <button
            class="mt-12 min-w-max rounded-xl bg-skin-accent px-6 py-4 text-sm font-medium text-white transition-opacity hover:opacity-75"
            disabled
          >
            Event ended
            <!-- Submit an <span class="sm:hidden">EOI</span>
            <span class="hidden sm:inline">expression of interest</span> -->
          </button></a
        >
      </div>
    </section>
    <section>
      <div class="my-12 mb-6 py-16 @container">
        <div class="mb-4 h-10 w-10 rounded-full rounded-bl-none bg-[#ff375f]">
        </div>
        <h2
          class="mb-8 max-w-[min(480px,90vw)] text-3xl tracking-tight sm:mb-12 sm:text-4xl"
        >
          Learn optimisation and planning from world-class researchers
        </h2>
        <div class="flex flex-col-reverse gap-8 @4xl:flex-row">
          <div class="flex-1">
            <div class="prose mb-8 w-full max-w-max leading-6">
              <Copy />
            </div>
          </div>
          <div class="flex-0 h-max @4xl:sticky @4xl:top-12 @4xl:w-max">
            {
              [
                {
                  label: "Where",
                  image: tempHeroImage,
                  value:
                    "Silverwater Resort, San Remo Bay, Melbourne, Australia",
                },
                { label: "When", value: "3-7th November 2025" },
              ].map(({ label, value, image }) => (
                <div class="mb-2 rounded-lg bg-skin-inverted/5">
                  {image && (
                    <div
                      style={`background-image: url(${image})`}
                      class="h-48 w-full rounded-lg bg-cover bg-center"
                    />
                  )}
                  <div class="p-4">
                    <h3 class="mb-1 text-sm font-medium">{label}</h3>
                    <p class="text-sm">{value}</p>
                  </div>
                </div>
              ))
            }
            <a href="https://forms.gle/zpsGRP7UGZDazbYz9">
              <button
                class="mb-6 min-w-full rounded-lg bg-skin-accent px-6 py-4 text-sm text-white transition-opacity hover:opacity-75"
                disabled>Event ended</button
              >
            </a>
          </div>
        </div>
      </div>
    </section>

    <section class="mb-8">
      <h1 class="mb-4 text-xl">On this site</h1>
      <Grid class="gap-2">
        {
          Array.from({ length: 3 })
            .map((_, i) => ({
              title: ["Program", "Speakers", "Organisers"][i % 3],
              description: [
                "View program schedule",
                "Read about our featured speakers",
                "See our organisers and contact info",
              ][i % 3],
            }))
            .map(({ title, description }) => (
              <a
                href={`/${slugifyStr(title)}`}
                class="flex cursor-pointer flex-col gap-2 rounded-lg bg-skin-inverted/5 p-4 transition-opacity hover:opacity-50"
              >
                <h2 class="pr-4">{title}</h2>
                <p class="pr-4 text-sm"> {description}</p>
              </a>
            ))
        }
      </Grid>
    </section>
    <section
      class="mt-24 flex flex-wrap items-center gap-12 contrast-0 saturate-0"
    >
      <a href="https://www.monash.edu">
        <img class="w-32" src=`/assets/monash-uni-logo.png` />
      </a>
      <a href="https://www.unimelb.edu.au">
        <img class="w-32" src=`/assets/melbourne-uni-logo.png` />
      </a>
      <a href="https://optima.org.au/">
        <img class="w-32" src=`/assets/optima-logo.png` />
      </a>
      <a href="https://www.visitmelbourne.com">
        <img class="w-32" src=`/assets/melbourne-logo.svg` />
      </a>
      <a href="https://www.melbournecb.com">
        <img class="w-32" src=`/assets/mcb-logo.png` />
      </a>
      <img class="w-32" src=`/assets/bev-logo.png` />
    </section>
  </main>

  <Footer />
</Layout>

<style>
  html[data-theme="light"] .hero-image {
    @apply invert;
  }

  #hero {
    @apply mt-4 flex min-h-[min(540px,50vh)] flex-col items-start rounded-2xl bg-cover bg-center p-8 sm:p-12 md:mt-0;
  }

  #hero h1 {
    @apply inline-block text-balance text-4xl font-medium tracking-tight sm:text-5xl sm:leading-none;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero #overline {
    @apply max-w-xl text-sm font-normal opacity-70;
  }
  #hero #tagline {
    @apply mb-2 mt-2 max-w-xl text-balance text-sm font-medium tracking-tight sm:mt-6 sm:text-base;
  }

  /* ===== Featured & Recent Posts Sections ===== */
</style>
